<nav class="mainnav">
    <!-- The logo and the name at the top of the page -->
  <img src="/veena.jpeg" alt="Anush Dcosta" id="image" />
  <h1 id="channel_name1"><a href="/">Me Recipes</a></h1>
  <h1 id="channel_name2"><a href="/">AAA Taste</a></h1>
  <img  src="/logo.ico" alt="Anush Dcosta" id="logoimage" />
  
</nav>