<!-- overlay navigation bar that stays to the top of the screen  with all the different menu options-->
<header>
    <nav class="navigation-bar">
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="https://www.youtube.com/@merecipesaaataste" target=”_blank”>Channel</a></li>
                <li><a href="/blogs/vegetable?startlimit=0&endlimit=7">Veg</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Non-Veg</a>
                    <div class="dropdown-content">
                        <a href="/blogs/chicken?startlimit=0&endlimit=7">Chicken</a>
                        <a href="#">Beef</a>
                        <a href="/blogs/Mutton?startlimit=0&endlimit=7">Mutton</a>
                        <a href="/blogs/seafood?startlimit=0&endlimit=7">Seafood</a>
                        <a href="/blogs/pork?startlimit=0&endlimit=7">Pork</a>
                    </div>
                </li>
                <li><a href="/blogs/sweets?startlimit=0&endlimit=7">Sweets/Bakery</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">A-Z Recipes</a>
                    <div class="dropdown-content">
                        <a href="/blogs/egg?startlimit=0&endlimit=7">Egg</a>
                        <a href="/blogs/pizza?startlimit=0&endlimit=7">Pizza</a>
                        <a href="/blogs/monthi?startlimit=0&endlimit=7">Monthi Fest</a>
                        <a href="/blogs/postnatal?startlimit=0&endlimit=7">Postnatal care</a>
                        <a href="/blogs/cakes?startlimit=0&endlimit=7">Cakes</a>
                        <a href="/blogs/drinks?startlimit=0&endlimit=7">Drinks</a>
                        <a href="/blogs/starter?startlimit=0&endlimit=7">Starter</a>
                        <a href="/blogs/pickles?startlimit=0&endlimit=7">Pickles</a>
                        <a href="/blogs/rice?startlimit=0&endlimit=7">Rice</a>
                        <a href="/blogs/evening?startlimit=0&endlimit=7">Evening Snack</a>
                        <a href="/blogs/special?startlimit=0&endlimit=7">Special Events</a>
                        <a href="/blogs/breakfast?startlimit=0&endlimit=7">Breakfast</a>

                    </div>
                </li>
                <li><a href="/blogs/all_videos?startlimit=0&endlimit=7">All Recipes</a></li>
                
            </ul>
        </div>
    </nav>
</header>