<header>
    <nav class="navigation-bar">
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="https://www.youtube.com/@merecipesaaataste">Channel</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Veg</a>
                    <div class="dropdown-content">
                        <a href="/blogs/vegetable">1</a>
                        <a href="/blogs/vegetable">2</a>
                        <a href="/blogs/vegetable">3</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Non-Veg</a>
                    <div class="dropdown-content">
                        <a href="/blogs/chicken">Chicken</a>
                        <a href="#">Beef</a>
                        <a href="/blogs/Mutton">Mutton</a>
                        <a href="/blogs/seafood">Seafood</a>
                    </div>
                </li>
          <!--  <li><a href="/blogs/all_videos">Chicken</a></li>
                <li><a href="/blogs/all_videos">Seafood</a></li>
                <li><a href="/blogs/all_videos">Mutton</a></li>
                <li><a href="/blogs/all_videos">Beef</a></li> -->
                <li><a href="/blogs/sweets">Bakery</a></li>
                <li><a href="/blogs/all_videos?startlimit=0&endlimit=7">All Recipes</a></li>
            </ul>
        </div>
        
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
</header>