<!-- overlay navigation bar that stays to the top of the screen  with all the different menu options-->
<header>
    <nav class="navigation-bar">
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="https://www.youtube.com/@merecipesaaataste">Channel</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Veg</a>
                    <div class="dropdown-content">
                        <a href="/blogs/vegetable?startlimit=0&endlimit=7">1</a>
                        <a href="/blogs/vegetable?startlimit=0&endlimit=7">2</a>
                        <a href="/blogs/vegetable?startlimit=0&endlimit=7">3</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Non-Veg</a>
                    <div class="dropdown-content">
                        <a href="/blogs/chicken?startlimit=0&endlimit=7">Chicken</a>
                        <a href="#">Beef</a>
                        <a href="/blogs/Mutton?startlimit=0&endlimit=7">Mutton</a>
                        <a href="/blogs/seafood?startlimit=0&endlimit=7">Seafood</a>
                    </div>
                </li>
                <li><a href="/blogs/sweets?startlimit=0&endlimit=7">Bakery</a></li>
                <li><a href="/blogs/all_videos?startlimit=0&endlimit=7">All Recipes</a></li>
            </ul>
        </div>
    </nav>
</header>