<!-- overlay navigation bar that stays to the top of the screen  with all the different menu options-->
<header>
    <nav class="navigation-bar">
        <div class="menu">
            <ul>
                <li id="list"><a href="/">Home</a></li>
                <li id="list"><a href="/About">About</a></li>
                <li id="list"><a href="https://www.youtube.com/@merecipesaaataste" target=”_blank”>Channel</a></li>
                <li id="list"><a href="/blogs/vegetable?startlimit=0&endlimit=6">Veg</a></li>
                <li id="list" class="dropdown">
                    <a href="/blogs/nonveg" class="dropbtn">Non-Veg</a>
                    <div class="dropdown-content">
                        <a href="/blogs/chicken?startlimit=0&endlimit=6">Chicken</a>
                        <a href="/blogs/beef?startlimit=0&endlimit=6">Beef</a>
                        <a href="/blogs/Mutton?startlimit=0&endlimit=6">Mutton</a>
                        <a href="/blogs/seafood?startlimit=0&endlimit=6">Seafood</a>
                        <a href="/blogs/pork?startlimit=0&endlimit=6">Pork</a>
                        <a href="/blogs/egg?startlimit=0&endlimit=6">Egg</a>
                    </div>
                </li>
                <li id="list"><a href="/blogs/sweets?startlimit=0&endlimit=6">Sweets/Bakery</a></li>
                <li id="list" class="dropdown">
                    <a href="/blogs/AZrecipes" class="dropbtn">A-Z Recipes</a>
                    <div class="dropdown-content">
                        <a href="/blogs/egg?startlimit=0&endlimit=6">Egg</a>
                        <a href="/blogs/pizza?startlimit=0&endlimit=6">Pizza</a>
                        <a href="/blogs/monthi?startlimit=0&endlimit=6">Monthi Fest</a>
                        <a href="/blogs/postnatal?startlimit=0&endlimit=6">Postnatal care</a>
                        <a href="/blogs/cakes?startlimit=0&endlimit=6">Cakes</a>
                        <a href="/blogs/drinks?startlimit=0&endlimit=6">Drinks</a>
                        <a href="/blogs/starter?startlimit=0&endlimit=6">Starter</a>
                        <a href="/blogs/pickles?startlimit=0&endlimit=6">Pickles</a>
                        <a href="/blogs/rice?startlimit=0&endlimit=6">Rice</a>
                        <a href="/blogs/evening?startlimit=0&endlimit=6">Evening Snack</a>
                        <a href="/blogs/special?startlimit=0&endlimit=6">Special Events</a>
                        <a href="/blogs/breakfast?startlimit=0&endlimit=6">Breakfast</a>

                    </div>
                </li>
                <li id="list"><a href="/blogs/all_videos?startlimit=0&endlimit=6">All Recipes</a></li>
                
            </ul>
        </div>
    </nav>
</header>