<% if (webpage == "0") {%>
    <ul class="prevnext">
      <li id="prev">
        <button id="offonback" onclick="changeval(1, 'all_videos')"><h1>&lt;</h1></button>
      
      </li>
      <li id="next">
        <button id="offonforw" onclick="changeval(0, 'all_videos')"><h1>></h1></button>
      </li>
    </ul>
    <% } else if(webpage == "1"){ %>
      <ul class="prevnext">
        <li id="prev">
          <button id="offonback" onclick="changeval(1, 'chicken')"><h1>&lt;</h1></button>
        
        </li>
        <li id="next">
          <button id="offonforw" onclick="changeval(0, 'chicken')"><h1>></h1></button>
        </li>
      </ul>
    <% } else if(webpage == "2"){ %>
      <ul class="prevnext">
        <li id="prev">
          <button id="offonback" onclick="changeval(1, 'seafood')"><h1>&lt;</h1></button>
        
        </li>
        <li id="next">
          <button id="offonforw" onclick="changeval(0, 'seafood')"><h1>></h1></button>
        </li>
      </ul>
    <% } else if(webpage == "3"){ %>
      <ul class="prevnext">
        <li id="prev">
          <button id="offonback" onclick="changeval(1, 'mutton')"><h1>&lt;</h1></button>
        
        </li>
        <li id="next">
          <button id="offonforw" onclick="changeval(0, 'mutton')"><h1>></h1></button>
        </li>
      </ul>
    <% } else if(webpage == "4"){ %>
      <ul class="prevnext">
        <li id="prev">
          <button id="offonback" onclick="changeval(1, 'vegetable')"><h1>&lt;</h1></button>
        
        </li>
        <li id="next">
          <button id="offonforw" onclick="changeval(0, 'vegetable')"><h1>></h1></button>
        </li>
      </ul>
    <% } else if(webpage == "5"){ %>
      <ul class="prevnext">
        <li id="prev">
          <button id="offonback" onclick="changeval(1, 'sweets')"><h1>&lt;</h1></button>
        
        </li>
        <li id="next">
          <button id="offonforw" onclick="changeval(0, 'sweets')"><h1>></h1></button>
        </li>
      </ul>
    <% } else if(webpage == "6"){ %>
      <ul class="prevnext">
        <li id="prev">
          <button id="offonback" onclick="changeval(1, 'drinks')"><h1>&lt;</h1></button>
        
        </li>
        <li id="next">
          <button id="offonforw" onclick="changeval(0, 'drinks')"><h1>></h1></button>
        </li>
      </ul>
    <% } else if(webpage == "7"){ %>
      <ul class="prevnext">
        <li id="prev">
          <button id="offonback" onclick="changeval(1, 'breakfast')"><h1>&lt;</h1></button>
        
        </li>
        <li id="next">
          <button id="offonforw" onclick="changeval(0, 'breakfast')"><h1>></h1></button>
        </li>
      </ul>
    <% } else if(webpage == "8"){ %>
      <ul class="prevnext">
        <li id="prev">
          <button id="offonback" onclick="changeval(1, 'pork')"><h1>&lt;</h1></button>
        
        </li>
        <li id="next">
          <button id="offonforw" onclick="changeval(0, 'pork')"><h1>></h1></button>
        </li>
      </ul>
    <% } else if(webpage == "9"){ %>
      <ul class="prevnext">
        <li id="prev">
          <button id="offonback" onclick="changeval(1, 'egg')"><h1>&lt;</h1></button>
        
        </li>
        <li id="next">
          <button id="offonforw" onclick="changeval(0, 'egg')"><h1>></h1></button>
        </li>
      </ul>
    <% } else if(webpage == "10"){ %>
      <ul class="prevnext">
        <li id="prev">
          <button id="offonback" onclick="changeval(1, 'pizza')"><h1>&lt;</h1></button>
        
        </li>
        <li id="next">
          <button id="offonforw" onclick="changeval(0, 'pizza')"><h1>></h1></button>
        </li>
      </ul>
    <% } else if(webpage == "11"){ %>
      <ul class="prevnext">
        <li id="prev">
          <button id="offonback" onclick="changeval(1, 'monthi')"><h1>&lt;</h1></button>
        
        </li>
        <li id="next">
          <button id="offonforw" onclick="changeval(0, 'monthi')"><h1>></h1></button>
        </li>
      </ul>
    <% } else if(webpage == "12"){ %>
      <ul class="prevnext">
        <li id="prev">
          <button id="offonback" onclick="changeval(1, 'postnatal')"><h1>&lt;</h1></button>
        
        </li>
        <li id="next">
          <button id="offonforw" onclick="changeval(0, 'postnatal')"><h1>></h1></button>
        </li>
      </ul>
    <% } else if(webpage == "13"){ %>
      <ul class="prevnext">
        <li id="prev">
          <button id="offonback" onclick="changeval(1, 'cakes')"><h1>&lt;</h1></button>
        
        </li>
        <li id="next">
          <button id="offonforw" onclick="changeval(0, 'cakes')"><h1>></h1></button>
        </li>
      </ul>
    <% } else if(webpage == "14"){ %>
      <ul class="prevnext">
        <li id="prev">
          <button id="offonback" onclick="changeval(1, 'starter')"><h1>&lt;</h1></button>
        
        </li>
        <li id="next">
          <button id="offonforw" onclick="changeval(0, 'starter')"><h1>></h1></button>
        </li>
      </ul>
    <% } else if(webpage == "15"){ %>
      <ul class="prevnext">
        <li id="prev">
          <button id="offonback" onclick="changeval(1, 'pickles')"><h1>&lt;</h1></button>
        
        </li>
        <li id="next">
          <button id="offonforw" onclick="changeval(0, 'pickles')"><h1>></h1></button>
        </li>
      </ul>
    <% } else if(webpage == "16"){ %>
      <ul class="prevnext">
        <li id="prev">
          <button id="offonback" onclick="changeval(1, 'rice')"><h1>&lt;</h1></button>
        
        </li>
        <li id="next">
          <button id="offonforw" onclick="changeval(0, 'rice')"><h1>></h1></button>
        </li>
      </ul>
    <% } else if(webpage == "17"){ %>
      <ul class="prevnext">
        <li id="prev">
          <button id="offonback" onclick="changeval(1, 'evening')"><h1>&lt;</h1></button>
        
        </li>
        <li id="next">
          <button id="offonforw" onclick="changeval(0, 'evening')"><h1>></h1></button>
        </li>
      </ul>
    <% } else if(webpage == "18"){ %>
      <ul class="prevnext">
        <li id="prev">
          <button id="offonback" onclick="changeval(1, 'special')"><h1>&lt;</h1></button>
        
        </li>
        <li id="next">
          <button id="offonforw" onclick="changeval(0, 'special')"><h1>></h1></button>
        </li>
      </ul>
    <% } %>
    <script>
      var startlimit = <%= startlimit %>;
      var endlimit = <%= endlimit %>;
      var numofelem = <%=numofelem%>;
      if (endlimit == numofelem) {
        console.log(endlimit, numofelem)
        document.getElementById("offonforw").disabled = true
      }
      if (startlimit == 0) {
      document.getElementById("offonback").disabled = true;
    }
    </script>